.wbk1 {
	background-color: transparent;
	float: right;
	border=0px;
	outline: none;
	width: 1150px;
	height: 427px;
	margin-right: 50px;
	
	
	resize: none;
	overflow-x: scroll;
	overflow-y: scroll;
	scrollbar-face-color: #889B9F;
	scrollbar-shadow-color: #3D5054;
	scrollbar-highlight-color: #C3D6DA;
	scrollbar-3dlight-color: #3D5054;
	scrollbar-darkshadow-color: #85989C;
	scrollbar-track-color: #95A6AA;
	scrollbar-arrow-color: #FFD6DA;




}
.wbk2 {
	background-color: transparent;
	float: right;
	border=0px;
	outline: none;
	width: 1150px;
	height: 200px;
	margin-right: 50px;
	margin-top: 10px;
	
	
	resize: none;
	overflow-x: scroll;
	overflow-y: scroll;
	scrollbar-face-color: #889B9F;
	scrollbar-shadow-color: #3D5054;
	scrollbar-highlight-color: #C3D6DA;
	scrollbar-3dlight-color: #3D5054;
	scrollbar-darkshadow-color: #85989C;
	scrollbar-track-color: #95A6AA;
	scrollbar-arrow-color: #FFD6DA;




}
